/nbproject/
/dist/
/build/
/manifest.mf
/nbbuild.xml
/bin/
/BioFabric-1.0.0.jar
/installInMVN.sh
/.project
/.DS_Store
/.classpath
.idea/
BioFabric Fork.iml
BioFabric.iml
out/
src/META-INF/
.gitignore
org/.gitignore
org/systemsbiology/.DS_Store
org/systemsbiology/biofabric/
org/systemsbiology/biotapestry/.gitignore
org/systemsbiology/biotapestry/biofabric/.gitignore

