# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
BioFabric.iml
/bin/
.DS_Store
.classpath
.project

out/artifacts/
out/production/BioFabric/META-INF/
out/production/BioFabric/org/systemsbiology/biofabric/layouts/NetworkAlignmentLayout$GroupID.class
out/production/BioFabric/org/systemsbiology/biofabric/layouts/NetworkAlignmentLayout$NodeGroupMap$1.class
out/production/BioFabric/org/systemsbiology/biofabric/layouts/NetworkAlignmentLayout$NodeGroupMap.class
src/META-INF/
